@import url('https://fonts.googleapis.com/css?family=Roboto');

.gold, .gold small {
  background-color: gold;
  color: #403600;
}

.silver, .silver small {
  background-color: silver;
  color: #404040;
}

.oil, .oil small {
  background-color: black;
  color: #E5E5E5;
}

html, body, .container-fluid {
  height: 100%;
  background: #2d2d2d;
  color: white;
}

 .row {
  height: 100%;
} 


.price {
  padding-right: 5px;
}

/* Add a ( before the change */
.change::before {
  content: '(';
}

/* Add a ) after the change */
.change::after {
  content: ')';
}

/* Add a $ before the price */
.price::after {
  content: '€';
}

/* Hide the price and change when they are empty */
.change:empty, .price:empty {
  display: none;
}


/* Grid */ 
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas: ". . .";
}

.grid-container > div {
  justify-content: center;
  overflow: hidden;
  height: 150px; 
  border-radius: 5px;
}

.grid-container > div > .row {
  padding: 10px;
}

@media (max-width:700px) {
  .grid-container {
    gap: 5px 5px;
    grid-template-areas: "." "." ".";
  }
}

.gewinn-verlust-indikator {
  display: flex; 
  flex-direction: row;
  padding: 15px;
  background: #393939; 
  color: white;
  border-radius: 5px;
  margin-top: 15px; 
  align-items: center;
  box-shadow: 0 1px 0 rgba(12,13,14,0.15);
}
.gewinn-verlust-indikator > div {
  /* width:25%; */
  padding-left: 10px;
  /* text-align: center; */
}


